body{
    background-color: #f2e0e4;
}
.a {
    display: flex; 
    align-items: center; 
    margin-top: 50px;
  }
  
  .b {
    margin-right: 5px; 
    margin-left: 200px; 
  }
  
  .c{
    margin-left: 100px; /
  }
  .a1{
    margin-top: 50px;
  }
  .d {
    line-height: 1.5; 
    margin: 0;
    text-align: center;
  }
  
  .e {
    line-height: 1.5; 
    margin: 0;
    text-align: center;
  }