body{
    background-color: #468189;
   
 }
 .c{
    background-color: #d0d0d4;
    width: 360px;
    padding: 20px;
    text-align: center;
    margin-left: 33%;
    margin-top: 50px;
    border-radius: 10px;
 }
 input{
    width: 270px;
    padding: 8px;
    background-color: rgb(225, 233, 233);
    font-size: 19px;
border: 2x;

 }
 button{
    width: 60px;
    height: 41px;
    background-color: rgb(4, 29, 29);
    color: white;
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 2px;
    font-size: 19px;
 }
 .text ul{
    position: relative;
    background-color: rgb(5, 31, 31);
    color: white;
    font-size: 19px;
    padding: 7px;
    text-align: left;
 }
 .text ul i{
    position: absolute;
    right: 10px;
    cursor: pointer;
 }










