.c{
  display:flex;
  margin: 200px;
  align-items:center;
  padding: auto;
  flex-direction: column;
}
.box{
  width: 400px;
  height: 300px;
  border: 1px solid black;
  background-color:rgb(212, 215, 220);
  border-radius: 10px;
}

h1{
  font-size:20px;
  text-align: center;
}
.group{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.group label{
  margin-right:10px;
  font-size:20px;
}
.group select,
.group input[type="text"] {
  padding: 5px;
  font-size: 16px;
  border-radius: 10px;
}
@media (max-width: 600px) {
  .box{
    flex-direction: column;
  }
  
  .group label {
    margin-bottom: 10px;
  }
}
#output{
  font-size:18px;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
}